{% extends 'adminpages/dashboard.html' %}

{% block title %}Update{% endblock title %}

   {% block content %}
   <div class="product_post_container">
    <h1>Post a New Product</h1>
    <form class="postform"method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <br>
        <button type="submit"style="padding: 10px 20px;background-color: blue;color: #fff;border:none;border-radius:5px;cursor:pointer;">Update</button>

    </form>
   </div>
    {% endblock content %}